<div class="parallax">
  <div class="text-center">
    &nbsp; <p />
    &nbsp; <p />
    &nbsp; <p />
    &nbsp; <p />
    <h1>
      <b>ROYAL FAMILY KIDS</b>
      <light>BRENTWOOD</light>
    </h1>

    <h2 >
      Join us in making moments matter for foster children
    </h2>
    <p />
    &nbsp;
    <hr class="my-4">
    <p />
    &nbsp;

    <%= link_to("Log In", user_session_path, :class=>"btn btn-lg btn-info") %>
    <p />
    <p />
    <%= link_to("create an account", new_user_registration_path, :class=>"btn btn-outline-light") %>

    <p />
    &nbsp;
    <p />
    &nbsp;
    <p />
    &nbsp;
    <p />
    &nbsp;
    <p />
    &nbsp;
    <p />
  </div>
</div>
&nbsp;
<p />
&nbsp;
<p />
&nbsp;
<p />
&nbsp;
<p />
<div class="container" >
  <div class="row">
    <div class="col-md-5">
      <%= image_tag('omar-lopez-rGooKYcscyc-unsplash.jpg', :width=>'100%') %>
    </div>
    <div class="col-md-6" id="white">
      <div style="padding-left:20px">
      &nbsp;
      <p />
      <h4>Volunteer</h4>
      <p>For every counselor willing to spend the entire week at camp, another camper is able to attend.
        Training is mandatory. Counselors arrive at camp the day before the campers to prepare the cabins
        and welcome the campers as they arrive. Each counselor is responsible for two campers in order to
        provide the very best care for our campers. One assistant counselor works with every two regular
        counselors. </p>
      &nbsp;
      <h4>We Need</h4>
      <ul>
        <li>Camp Counselors</li>
        <li>Camp Staff</li>
        <li>Registration Helpers</li>
        <li>Birthday Party Buddies</li>
        <li>Cooks and Servers</li>
      </ul>
        &nbsp;
        <p />
      <div class="text-center">
        <%= link_to("Log In", user_session_path, :class=>"btn btn-info") %>
      <p />
      or
      <br />
      <a href="/users/sign_up">Create an account</a>
      &nbsp;
      <p />
      </div>
      </div>
    </div>
  </div>

</div>
<br />
<br />
<br />
<br />
<br />
