/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
    margin: 0px;
    padding: 0px;
    background-color: #31203e;
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
}
b{
    font-weight: 600;
    font-family: "Helvetica Neue", Helvetica, Arial, Sans-Serif;
}
h1{
    font-size: 72px;
}
h2 {
    font-weight: 400;
    font-size: 42px;
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
}
a:link, a:visited {
    color: white;
    text-decoration: none;
}
light {
    font-weight: 200;
}
.parallax {
    /* The image used */
    background-image: url("/assets/rfk-background.jpg");
    color: white;
    /* Set a specific height */
    height: 100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#white {
    background-color: white;
}